@font-face {
	font-family: "SOYOMapleBoldTTF";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "SOYOMapleRegularTTF";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleRegularTTF.woff2")
		format("woff2");
	font-weight: 100;
	font-style: normal;
}
