#main-text {
	color: #14191f;
	font-size: 1.5rem;
	font-family: "SOYOMapleBoldTTF";
	white-space: pre-line;
}

.border {
	background-color: white;
	border: none;
	border-radius: 1rem;
}

.input {
	font-size: 0.9rem;
	padding: 0.7rem 1rem;
	width: 18rem;
	margin-top: 2rem;
}

.main-but {
	background-color: #afbdca;
	color: #14191f;
	padding: 0.8rem 0;
	width: 20rem;
	border-radius: 0.5rem;
	margin: 0 auto;
	text-align: center;
}

#buts {
	margin-top: 3rem;
}

.main-but:hover {
	cursor: pointer;
	opacity: 90%;
}

a {
	text-decoration: none;
	color: #14191f;
}
